//Little reset
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
//Start styles
header {
  padding: 20px 10px;
}
h1 {
  font-size: 3rem;
}

//Table styles
table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
thead {
  background-color: #e3f8ff;
  text-align: center;
}
table,
th,
td {
  border-bottom: 1px solid #f2f2ff;
}
th {
  font-size: 2rem;
  padding: 10px;
}
td {
  padding: 5px;
  font-size: 1.5rem;
}
a {
  cursor: pointer;
  color: #28cc9e;
}

//Form styles

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.search__label {
  width: 30%;
  justify-content: start;
  input {
    margin-left: 10px;
  }
}
select {
  width: fit-content;
  border: 0;
  background-color: #f2f2ff;
  padding: 10px;
}
label {
  width: 24%;
  font-size: 1.7rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
input {
  border: 0;
  border-radius: 5px;
  background-color: #f2f2ff;
  outline: none;
  font-size: 1.5rem;
  padding: 5px;
}
button {
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #28cc9e;
  color: white;
  cursor: pointer;
}
